@model Chat


<div class="chat-body">
   @foreach (var message in Model.Messages)
   {
    <div class="message">
        <header>@message.Name</header>
        <p>@message.Text</p>
        <footer>@message.Timestamp</footer>
    </div>   
   }
   
    
</div>
<form class="chat-input" asp-controller="Home" asp-action="CreateMessage">
    <input type="hidden" name="chatId" value="@Model.Id">
    <input type="text" name="message">
    <button type="submit">Send</button>
</form>  

@section scripts {
    <script src="~/js/signalr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <script>

            var connection = new signalR.HubConnectionBuilder()
                                      .withUrl("/chatHub")
                                      .build();

            var _connectionId = '';

            connection.on("RecieveMessage", function(data){
                console.log(data)
            })

            

            var joinRoom = function(){
                var url = '/Chat/JoinRoom/' + _connectionId + '/{@Model.Name}'
                axios.post(url, null)
                    .then(res =>{
                        console.log("Room Joined", res)
                    })
                    .catch(err =>{
                        console.err("Failed to Join Room!", res)
                    })
            }

            connection.start()
                      .then(function(){
                       connection.invoke('getConnectionId')
                                 .then(function(connectionId){
                                    _connectionId = connectionId
                                    joinRoom();
                                  })
                    })
                    .catch(function(err){
                        console.log(err)
                    })

            

      </script>
}