@model IEnumerable<User>

<div class="user-list">
    @foreach (var user in Model)
    {
        <div class="user">
            <p>@user.UserName</p>
             <a asp-controller="Home" asp-action="CreatePrivateRoom" asp-route-userId="@user.Id">
               Add to Chat 
            </a>

        </div>
           
    }
</div>