<div class="chat-body">
    @for (int i = 0; i < 10; i++)
    {
    <div class="message">
        <header>Lolika</header>
        <p>HELLO</p>
        <footer>16.20</footer>
    </div>
     <div class="message">
        <header>Lolika</header>
        <p>sasdasd</p>
        <footer>16.20</footer>
    </div>
    }
</div>
<div class="chat-input"></div>