html, body{
    margin:0; 
    max-width: 100vw; 
    max-height: 100vh;
    height: 100%;
    width : 100%;
    display: flex;
    flex-direction: column;
    
}


::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #3B3E45; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


.navbar{
    background-color:#36393f;
    height: 45px;
    min-height: 40px;
    max-height: 10vh;
    box-shadow: 0 3px 10px 0 #333;
    z-index: 180; 
    display: flex;
    flex-direction: row;
    align-items: center;
}


.navbar > a{
  margin: 1rem;
  text-decoration: none;
  color: white;
  font-size: 18px;
  display: flex;

}

.navbar > .logout{
  margin-left: auto;
  order: 2;
}

.navbar .icon {
  display: none;
}



@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) { 
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: flex;
    position: relative;
    margin-left: auto;
  }

  .login-container > .login{
    min-width: 100vw;
  }
  .login-container > .login > .login-form{
    align-items: center;
  }

  .chat{
    min-width: 100vw;
  }


}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: relative;
    display: inline;
    flex-direction: column;
    min-height: 27vh;
  }

  .navbar.responsive >.logout{
   
    display: block;
    text-align: left;
    background-color: #36393f;
    margin: 1rem;
    
  }

  .navbar.responsive a {
    display: block;
    text-align: left;
  }

  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

}

.main{
    flex-grow: 1;
    display: flex;
    flex-direction: row;  
    min-height: 90vh;
    max-width: 100vw;
}

.side-menu{
    background-color: #202225;
    width: 100px;
    z-index: 50;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.room-button {
    color: white;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.75rem 1rem 0.5rem 0.75rem ;
    font-size: 20px;
    min-height: 60px;
    min-width: 60px;
    border-radius: 1px;
    background-color: #36393f;
    box-shadow: 0 1px 3px 1px #202225;
    overflow-wrap: break-word;
}

.room-button:hover{
    box-shadow:  0 2px 3px 1px #131416;
}


.chat{
    background-color: #42464d;
    flex-grow: 1;
    display: flex;
    flex-direction: column;     
    width: 60vw;
}


.chat-body{  
    border-radius: 10px;
    margin: 0.75rem;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow: auto;
}

.chat-input{
    background-color: #3B3E45;
    min-height: 70px;
    border-radius: 10px;
    margin: 0.75rem;
    display: flex;
    flex-direction: row;
}

.chat-input > input
{
    color: white;
    background: transparent;
    border: none;
    flex-grow: 5;

}

.chat-input > button
{ 
    border: 2px solid #3B3E45;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: #36393f;
    flex-grow: 1;
    margin: 0.5rem;
    border-radius: 10px;
}

.message{
    display: flex  ;
    flex-direction: column;
    margin: 1rem;
    color: white;
    overflow-wrap: break-word;
}


.message > header{
  flex-grow: 1;
  font-weight: bold;
}

.message > p{
    
    margin: 0.5rem 0;
    flex-grow: 1; 
}

.message > footer{
    flex-grow: 1;
}


.modal{
    display: none;
    position: fixed;
    min-height: 100vh;
    min-width: 100vw;
    z-index: 200;
    top:  0;
    left: 0;
    background-color: rgba(2, 2, 2, .8);
}

.modal.active{
    display: flex;
    justify-content: center;
    align-items: center;

}

.modal-body{
    position: relative;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    background-color: #42464d;
    padding: 1rem;
}

.modal-body > * {
    margin: 0.75rem;
}

.modal-body > header{
    color: white;
    font-size:  24px;
}



.modal-body > div > input{
    width: 100%;
}

.modal-body > footer{
    text-align: center;
}

.modal-body > .close{
    position: absolute;
    top: 5px;
    right: 10px;
}



.login-container{
  display: flex;
  flex-direction: row-reverse;
  max-width: 100vw;
  height: 100%;
  color: aliceblue;
}

.wrap{
  display: flex;
  margin: 5rem;
  flex-direction: column;
  height: 100%;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.wrapper > p{

  display: flex;
  font-size: 15px;
  color: white;
  overflow-wrap: break-word;
  background-color:#36393f;
  border-radius: 3px;
  padding: 0.4rem;
}


.login{
  display: flex;
  flex-grow: 1;
  background-color: #36393f;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 300px;
}

.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.login > a{
  background-color: rgb(41, 63, 98);
  color: white;
  padding: 1rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}

.login > a:hover {
  background-color: #555;
}


.login-form > *{
  margin: 0.33rem 1rem;
}
.login > h2{
  justify-content: left;
}

.login > * {
  margin-top: 1rem;
}

.user-list {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.user{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user > p{
  color: white;
  font-size: 20px;
}

.user > a{
  margin-left: auto;
  order: 2;
  background: rgb(90, 90, 90);
  padding: 1em 2.4em;
  font-size: .9em;
  color: white;
  text-decoration: none;
  text-align: center;
}